.flex {
	display: flex;
}

.aifs {
	align-items: flex-start;
}

.aic {
	align-items: center;
}

.aife {
	align-items: flex-end;
}

.jcfs {
	justify-content: flex-start;
}

.jcc {
	justify-content: center;
}

.jcfe {
	justify-content: flex-end;
}

.jcsa {
	justify-content: space-around;
}

.jcsb {
	justify-content: space-between;
}

// combine
.faifs {
	@extend .flex;
	@extend .aifs;
}

.faic {
	@extend .flex;
	@extend .aic;
}

.faife {
	@extend .flex;
	@extend .aife;
}

.fjcfs {
	@extend .flex;
	@extend .jcfs;
}

.fjcc {
	@extend .flex;
	@extend .jcc;
}

.fjcfe {
	@extend .flex;
	@extend .jcfe;
}

.fjcsa {
	@extend .flex;
	@extend .jcsa;
}

.fjcsb {
	@extend .flex;
	@extend .jcsb;
}

.f-aifs-jcfs {
	@extend .flex;
	@extend .aifs;
	@extend .jcfs;
}


.f-aic-jcc {
	@extend .flex;
	@extend .aic;
	@extend .jcc;
}

.f-aife-jcfe {
	@extend .flex;
	@extend .aife;
	@extend .jcfe;
}

