// contain
// navbar
// navbar brand
// navbar collapse
// navbar button collapse


// navbar
.navbar {
	@include f-aic;
	background-color: #444;
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;

	> .container {
		display: flex;
		align-items: center;
		padding: 0 15px;
		flex-grow: 1;
		width: 100%;

		@include sm {
			flex-wrap: wrap;
		}
	}

	@include sm {
		flex-wrap: wrap;
	}
}

// brand
.brand {
	@include f-aic;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	margin-right: 25px;

	.logo {
		margin-right: 7px;
	}
}

// button for collapse navbar
.navbar-button {
	display: none;
	margin-left: auto;
	width: 50px;
	border: 1px solid #ececec;
	background-color: transparent;
	background-image: url('../../assets/icons/bars-white.svg');
	background-size: 34px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	height: 40px;

	@include sm {
		display: unset;
		&:focus {
			outline: none;
		}
	}
}

// nav menu
.nav {
	@extend .faic;
	list-style: none;
	margin: 0;
	padding: 0;

	.link {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		padding: 0 .6em;
		font-weight: 500;
	}

	@include sm {
		@include aifs;
		@include f-col;
		width: 100%;

		.item {
			width: 100%;
		}

		.link {
			display: flex;
			width: 100%;
			padding: 10px 15px;
		}
	}

}

body {
	--maximal: 250px;
}

// navbar collapse
.navbar-collapse {
	@include f-aic;
	width: 100%;
	flex: 1;
	flex-basis: 100%;
	overflow: hidden;

	@include sm {
		margin: 0 -15px;
		max-height: 0px;
		transition: max-height .2s ease-out;
		flex-direction: column;

		&.active {
			max-height: var(--collapse-maximum)
		}

		&.mgt {
			margin-top: 10px;
		}

		&.nomg {
			margin-top: 0;
			transition: .2s;
		}
	}
}
